.dokan-dashboard .post-box-container {
	width: 49%;
	float: left
}

.dokan-dashboard .meta-box-sortables {
	margin: 0 8px;
	min-height: 100px
}

.dokan-dashboard .postbox .main {
	padding: 0 12px 11px
}

.dokan-dashboard .postbox .main:before, .dokan-dashboard .postbox .main:after
	{
	content: " ";
	display: table
}

.dokan-dashboard .postbox .main:after {
	clear: both
}

.dokan-dashboard .postbox .main a {
	text-decoration: none
}

.dokan-dashboard .postbox .main p {
	margin: 0
}

.dokan-dashboard .postbox .main h4 {
	margin: 0 0 7px 0;
	padding: 0 0 7px 0;
	border-bottom: 1px solid #eee
}

.dokan-dashboard .postbox .inside {
	margin: 10px 0 0 0;
	padding: 0
}

.dokan-dashboard .mark-red a {
	color: #f00
}

.dokan-dashboard .mark-green a {
	color: #008000
}

.dokan-dashboard .dokan-left {
	float: left;
	width: 45%
}

.dokan-dashboard .dokan-right {
	float: right;
	width: 45%
}