/*--------------------------------------------------
:: Footer
-------------------------------------------------- */
.footer-item {
  font-size: 16px;
}
.footer-item ul li i {
  color: #ed1b24;
  padding-right: 12px;
}
