.wpuf-comments-wrap {
	margin: 20px 0;
}

#wpuf-comments_menu ul {
	margin: 10px 0 15px 0;
	padding: 0;
}

#wpuf-comments_menu li {
	display: inline-block;
	text-decoration: none;
	margin: 0 10px 0 0;
}

.wpuf-comments-subdate {
	font-size: 12px;
	color: #7C7C7C;
	letter-spacing: 0.0625em;
}

.wpuf-author-img {
	float: left;
	padding-right: 5px;
}

#wpuf-comments_menu li a {
	padding-right: 10px;
	border-right: 1px solid #EDEDED;
}

ul.wpuf-cmt-row-actions {
	visibility: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
}

ul.wpuf-cmt-row-actions a {
	text-decoration: none;
}

ul.wpuf-cmt-row-actions li {
	display: inline;
	border-right: 1px solid #EDEDED;
	padding-right: 5px;
	margin: 0 !important;
}

.wpuf-cmt-row-actions li:last-child {
	border-right: none;
}

table#wpuf-comments-table input[type=text], table#wpuf-comments-table textarea,
	.wpuf-comments-wrap select {
	border: 1px solid #EDEDED;
	padding: 5px;
	border-radius: 3px;
}

table#wpuf-comments-table {
	width: 100%;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

table#wpuf-comments-table th, table#wpuf-comments-table td {
	border-bottom: 1px solid #EDEDED;
	padding: 5px;
}

table#wpuf-comments-table td.col-check, table#wpuf-comments-table th.col-check
	{
	width: 5%;
	padding: 0 0 0 10px;
	vertical-align: middle;
}

table#wpuf-comments-table td.col-author, table#wpuf-comments-table th.col-author
	{
	width: 15%;
}

table#wpuf-comments-table td.col-content, table#wpuf-comments-table th.col-content
	{
	width: 60%;
}

table#wpuf-comments-table td.col-link, table#wpuf-comments-table th.col-link
	{
	width: 25%;
}

table#wpuf-comments-table td, table#wpuf-comments-table th {
	vertical-align: top;
}

table#wpuf-comments-table tr.pending {
	background: #FFFFE0;
}

table#wpuf-comments-table tr:hover .wpuf-cmt-row-actions {
	visibility: visible;
}

.wpuf-comment-edit-row {
	background: #F7F7F7;
}

table#wpuf-comments-table .wpuf-comment-edit-row table td {
	border: none;
}

#wpuf_comments-form .star-rating:before {
	content: "\73\73\73\73\73";
	font-family: 'star';
}

.dokan-rating .star-rating {
	float: right;
	font-family: 'star';
	font-size: 1em;
	height: 1em;
	line-height: 1em;
	overflow: hidden;
	position: relative;
	width: 5.4em;
}

.dokan-rating .star-rating:before {
	color: #E0DADF;
	content: "sssss";
	float: left;
	left: 0;
	position: absolute;
	top: 0;
}

.dokan-rating .star-rating span {
	float: left;
	left: 0;
	overflow: hidden;
	padding-top: 1.5em;
	position: absolute;
	top: 0;
}

.dokan-rating .star-rating span:before {
	content: "SSSSS";
	left: 0;
	position: absolute;
	top: 0;
}