.home-content-area {
  margin-bottom: 30px;
}

.home-productlist {
  margin-bottom: 30px;
}

.title_category {
  font-size: 35px;
  word-spacing: 1px;
  color: #373737;
  font-weight: 100;
  text-transform: uppercase;
}

.productlist-head {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: url("assets/images/title-icon.png") no-repeat center bottom;
}

.proslide-item {
  padding-left: 15px;
  padding-right: 15px;
}