.woocommerce #content div.product div.images .yith_magnifier_zoom_wrap,
.woocommerce div.product div.images .yith_magnifier_zoom_wrap,
.woocommerce-page #content div.product div.images #yith_magnifier_zoom_wrap,
.woocommerce-page div.product div.images .yith_magnifier_zoom_wrap {
  max-width: 540px;
  max-height: 540px;
}

.woocommerce div.product div.images .yith_magnifier_zoom img {
  max-width: 540px;
  max-height: 540px;
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  overflow: hidden;

  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@media (min-width: 1200px) {
  //.productlist .productItem a img {
  //  width: 280px;
  //  height: 280px;
  //}
}

@media (max-width: 992px) {
  .home-productlist {
    .product-grid {
      &:before, &:after {
        content: "";
        display: table;
      }
      &:after {
        clear: both;
      }

      .col-md-3 {
        width: percentage(1/3);
        float: left;

        &:nth-child(7),&:nth-child(8) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .home-productlist {
    .product-grid {
      .col-md-3 {
        width: percentage(1/2);
        float: left;

      }
    }
  }
}