/*--------------------------------------------------
:: Footer
-------------------------------------------------- */

.site-footer .footer-item {
    font-size: 16px;
    ul {
        li {
            position: relative;
            padding-left: 35px;
            line-height: 25px;
            margin-bottom: 3px;
            i {
                position: absolute;
                top: 0;
                left: 0;
                color: #ed1b24;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}

.footer-fb-button {
    display: none;
}

@media (max-width: 1199px) {
    .none-sp {
        display: none;
    }
}

@media (max-width: 767px) {
    .footer-fb-fanpage {
        position: relative;
    }

    .footer-fb-button {
        display: inline-block;
        i {
            color: #3a5897;
            font-size: 32px;
        }
    }

    .footer-fb-link {
        display: none;
    }
}