/*--------------------------------------------------
:: Header
-------------------------------------------------- */
#hd_pop {
    z-index: 1000;
    margin: 0 auto;
    width: 343px;
    left: 10px;
    position: absolute;
    text-align: center;
    background: #fff;
    border: 1px solid #e9e9e9;

    .hd_pops_footer {
        padding: 10px 0;
        background: #000;
        color: #fff;
        .hd_pops_footer button {
            margin-right: 5px;
            padding: 5px 10px;
            border: 0;
            background: #393939;
            color: #fff;
        }
    }
}

.header-cart {

    position: relative;
    color: #EE0000;
    font-size:20px;
    line-height: 25px;
    padding: 5px 8px;

    .navbar-top-area {
        display: none;
        text-align: left;
    }

    span {
        position: absolute;
        right: 0;
        top: 2px;
        font-size: 11px;
        background: #fff;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
    }

    .widgettitle {
        display: none;
    }
}

.header-main {
    margin-bottom: 0;
}

.header-logo {
    width: 50%;
    vertical-align: middle;
    padding: 20px 0;
}

.header-search {
    width: 50%;
    vertical-align: middle;
    padding: 20px 0;

    .search_product {
        padding-left: 30px;
        .input-group .form-control {
            height: 40px;
            line-height: 28px;
            font-size: 16px;
        }
        .input-group-btn>.btn {
            height: 40px;
            font-size: 16px;
            text-transform: uppercase;
            line-height: 28px;
        }
    }
}

.site-header h1.site-title {
    margin: 0;
}

#masthead {
    transition: all .3s;
    &.header-sticky {
        position: fixed;
        z-index: 999;
        width: 100%;
        top: 0;
        left: 0;

        .header-logo {
            transition: all .3s;
            padding: 10px 0;
        }

       h1.site-title a img {
           transition: all .3s;
           height: 80px;
       }

        & + #main {
            transition: all .3s;
            padding-top: 180px;
        }
    }
}

@media (max-width: 767px) {
    .navbar-top-bar {
        .collapse {
            display: block;
        }
        .col-sm-11 {
            width: 80%;
            float: left;
            .nav > li {
                display: inline-block;
            }
        }
        .col-sm-1 {
            width: 20%;
            float: left;
        }
        .header-cart {
            margin-top: 10px;
        }
    }
}