.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.table-cell {
  display: table-cell;
}

#page {
  overflow-x: hidden;
}

@media (max-width: 480px) {
  .col-mb-12 {
    width: 100%;
  }
}