a {
	color: #f05025;
}

.btn-theme {
	background: #f05025;
	color: #fff;
}

.btn-theme:hover {
	background: #eb3f10;
	color: #fff;
}

mark {
	color: #fff;
	background: #f05025;
	border-radius: 3px;
	padding: 0 3px;
}

.pagination>li>span.current, .pagination>li>a:hover {
	background-color: #f05025;
	color: #fff;
}

.dokan-info {
	border-top: 3px solid #f05025;
}

.dokan-info:before {
	background-color: #f05025;
}

.site-header .navbar-collapse ul.navbar-nav>li>ul.dropdown-menu>li.active>a
	{
	background: #f05025;
	color: #fff;
}

.navbar-top-area.navbar-inverse .navbar-nav>.open>a, .navbar-top-area.navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-top-area.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #f05025;
	color: #fff;
}

.navbar-top-area.navbar-inverse .dropdown-menu>.active a,
	.navbar-top-area.navbar-inverse .dropdown-menu>.active a:hover,
	.navbar-top-area.navbar-inverse .dropdown-menu>.active a:focus {
	background-color: #f05025;
	color: #fff;
}

.navbar-top-area.navbar-inverse .widget_shopping_cart_content a.button {
	background: #f05025;
	color: #fff;
	border: 1px solid #f05025;
}

.home .slider-container h2.slider-heading {
	border-left: 5px solid #f05025;
}

.home .product-sliders .flex-direction-nav a {
	background: #f05025;
}

.home .product-sliders li .item-button a.add_to_cart_button {
	background: #f05025;
	border-color: #f05025;
}

.home .product-sliders li .item-button a.add_to_cart_button:hover {
	color: #f05025;
	background: #fff;
	border-color: #dddddd;
}

.home .product-sliders li .item-button a.fav {
	background: #fff;
}

.home .product-sliders li .item-button a.fav:hover {
	color: #fff;
	background: #f05025;
	border-color: #f05025;
}

.home .product-sliders li .item-button .added_to_cart {
	background: #f05025;
}

.home .product-sliders li span.onsale {
	background: #f05025;
}

.widget .widget-title {
	border-left: 3px solid #f05025;
	margin-left: -10px;
	padding-left: 6px;
}

.widget.widget_search .btn-primary, .widget.widget_product_search .btn-primary
	{
	background-color: #f05025;
	border-color: #f05025;
}

.widget.dokan-category-menu #cat-drop-stack>ul>li>a:hover {
	background: #f05025;
}

.widget.dokan-category-menu #cat-drop-stack>ul>li .sub-block ul a:hover,
	.widget.dokan-category-menu #cat-drop-stack>ul>li .sub-block h3 a:hover
	{
	color: #f05025;
}

.dokan-dash-sidebar ul.dokan-dashboard-menu li.active {
	background: #f05025;
}

.dokan-dash-sidebar ul.dokan-dashboard-menu li:hover {
	background: #f05025;
}

.woocommerce span.onsale, .woocommerce-page span.onsale {
	background: #f05025;
}

.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button,
	.woocommerce-page button.button, .woocommerce input.button,
	.woocommerce-page input.button, .woocommerce #respond input#submit,
	.woocommerce-page #respond input#submit, .woocommerce #content input.button,
	.woocommerce-page #content input.button {
	background: #f05025;
	color: #fff;
}

.woocommerce a.button:hover, .woocommerce-page a.button:hover,
	.woocommerce button.button:hover, .woocommerce-page button.button:hover,
	.woocommerce input.button:hover, .woocommerce-page input.button:hover,
	.woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover,
	.woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover
	{
	background: #eb3f10;
	color: #fff;
}

.woocommerce ul.products li.product .item-button a.add_to_cart_button,
	.woocommerce-page ul.products li.product .item-button a.add_to_cart_button
	{
	background: #f05025;
	border-color: #f05025;
}

.woocommerce ul.products li.product .item-button a.add_to_cart_button:hover,
	.woocommerce-page ul.products li.product .item-button a.add_to_cart_button:hover
	{
	color: #f05025;
	background: #fff;
	border-color: #dddddd;
}

.woocommerce ul.products li.product .item-button a.fav,
	.woocommerce-page ul.products li.product .item-button a.fav {
	background: #fff;
}

.woocommerce ul.products li.product .item-button a.fav:hover,
	.woocommerce-page ul.products li.product .item-button a.fav:hover {
	color: #fff;
	background: #f05025;
	border-color: #f05025;
}

.woocommerce ul.products li.product .item-button .added_to_cart,
	.woocommerce-page ul.products li.product .item-button .added_to_cart {
	background: #f05025;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active
	{
	box-shadow: inset 0px 4px 0px #f05025;
}

.woocommerce #reviews #respond input[type=submit], .woocommerce-page #reviews #respond input[type=submit]
	{
	background-color: #f05025;
	border-color: #f05025;
	color: #fff;
}

.woocommerce #reviews #respond input[type=submit]:hover,
	.woocommerce-page #reviews #respond input[type=submit]:hover {
	background-color: #eb3f10;
	border-color: #eb3f10;
}

.woocommerce nav.woocommerce-pagination ul li span.current,
	.woocommerce-page nav.woocommerce-pagination ul li span.current,
	.woocommerce #content nav.woocommerce-pagination ul li span.current,
	.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
	.woocommerce nav.woocommerce-pagination ul li a:hover,
	.woocommerce-page nav.woocommerce-pagination ul li a:hover,
	.woocommerce #content nav.woocommerce-pagination ul li a:hover,
	.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
	.woocommerce nav.woocommerce-pagination ul li a:focus,
	.woocommerce-page nav.woocommerce-pagination ul li a:focus,
	.woocommerce #content nav.woocommerce-pagination ul li a:focus,
	.woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
	background: #f05025;
}

.woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt,
	.woocommerce-page button.button.alt, .woocommerce input.button.alt,
	.woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt,
	.woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt,
	.woocommerce-page #content input.button.alt {
	border: 1px solid #f05025;
	background: #f05025;
}

.woocommerce a.button.alt:hover, .woocommerce-page a.button.alt:hover,
	.woocommerce button.button.alt:hover, .woocommerce-page button.button.alt:hover,
	.woocommerce input.button.alt:hover, .woocommerce-page input.button.alt:hover,
	.woocommerce #respond input#submit.alt:hover, .woocommerce-page #respond input#submit.alt:hover,
	.woocommerce #content input.button.alt:hover, .woocommerce-page #content input.button.alt:hover
	{
	border: 1px solid #d3380f;
	background: #d3380f;
}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message,
	.woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error,
	.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info {
	background: #fff;
	box-shadow: none;
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}

.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info {
	border-top: 3px solid #f05025;
}

.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before
	{
	background-color: #f05025;
}

.pagination>.active>a, .pagination>.active>a:hover {
	background-color: #f05025;
	border-color: #f05025;
}

.store-page-wrap .profile-frame {
	background-color: #f05025;
}
/* WooCommerce override
-----------------------------------*/
.woocommerce.single-product .entry-summary form.cart .button,
	.woocommerce-page.single-product .entry-summary form.cart .button {
	background: #f05025;
}

.woocommerce.single-product .entry-summary a.button.alt,
	.woocommerce-page.single-product .entry-summary a.button.alt {
	background: #f05025;
}

#comments #respond #cancel-comment-reply-link {
	background: #f05025;
}

#comments #respond input[type=submit] {
	background: #f05025;
	border: 1px solid #f05025;
	padding: 3px 10px;
}

#comments ol.commentlist .reply a.comment-reply-link {
	background: #f05025;
}